# Gitea variables
#USER_UID=1000
#USER_GID=1000

GITEA_PUBLIC_PORT=3000
GITEA_PUBLIC_HOST=127.0.0.1
ROOT_URL=http://$GITEA_PUBLIC_HOST:$GITEA_PUBLIC_PORT

GITEA__database__HOST=gitea-db:5432
GITEA__database__DB_TYPE=postgres
GITEA__database__NAME=gitea
GITEA__database__USER=gitea
GITEA__database__PASSWD=gitea

# DB variables
POSTGRES_DB=gitea
POSTGRES_USER=gitea
POSTGRES_PASSWORD=gitea
